{% include 'restaurant/layouts/navbar.html' %}
<div class="btn-group text-right" id="toggle_event_editing">
    <button type="button" class="btn btn-info locked_active" id="btn-turn-off">OFF</button>
    <button type="button" class="btn btn-default unlocked_inactive" id="btn-turn-on">ON</button>
</div>

<section class="container">

    <div class="row">
        <div class="col">
            <div class="card shadow m-2 p-5" style="font-size:40px">
                <a href="{% url 'restaurant-add-food' %}" class="text-center">+</a>

                <div style="font-size:20px" class="text-center">
                    Add Product
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow m-2 p-5 text-center" style="font-size:40px">
                67
                <div style="font-size:20px">
                    Orders Completed
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow m-2 p-5 text-center" style="font-size:40px">
                1500000 Rs.
                <div style="font-size:20px">
                    Wallet
                </div>
            </div>
        </div>


    </div>
    <div class="container card shadow-lg pt-3">
        <table class="table">
            <thead style="background-color: #e42e0c; color:white">
                <tr id="rider-data-name">
                    <!-- Add Rider Data here -->
                </tr>
                <tr id="rider-data-phone">
                    <!-- Add Rider Data Phone here  -->
                </tr>
                <tr>
                    <th scope="col" class="text-center">No</th>
                    <th scope="col" class="text-center">Item Name</th>
                    <th scope="col" class="text-center">Item Price</th>

                </tr>
            </thead>
            <tbody id="table-body">
                <!-- Add Customer Orders Items Here -->

            </tbody>
        </table>


    </div>
    <div class="col">
        <div class="card m-2 p-5 shadow" style="height:600px">
            <h2>Restaurant Location</h2>
            <iframe
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France"
                width="250" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
        </div>
    </div>
    </div>
</section>

{% include 'footer.html' %}

<script>
    var place_order_details;
    var consumer_data_details;
    var rider_data_details;
    var jsonData;
    var ws = new WebSocket("ws://127.0.0.1:8000/ws/sc/place_order/");

    $(document).ready(function () {
        ws.onopen = function (event) {
            console.log("Connected...", event);
        };
        ws.onmessage = function (event) {
            jsonData = JSON.parse(event.data);
            console.log(jsonData);
            if (jsonData.message === "OrderAccepted") {
                // AJAX to get the credentials 
                let mydata = {
                    "customer_name": jsonData.customer_name,
                    "time_stamp": jsonData.time_stamp,
                    "customer_id": jsonData.customer_id,
                    "customer_location": jsonData.customer_location,
                    "rider_name": jsonData.rider
                }
                get_placed_order_data(mydata);

            }
        };
        ws.onerror = function (event) {
            console.log("Disconnected...", event);
        };
    });


    function get_placed_order_data(mydata) {
        $.ajax({
            url: "/partner-with-us/restaurant/populate-dashboard/",
            type: "POST",
            data: mydata,
            success: populate_dashboard_success,
            error: populate_dashboard_error
        });

    }
    function populate_dashboard_success(data) {
        console.log("Users Cart : ", data.users_cart);
        console.log("Query Set : ", data.queryset);
        console.log("Consumer Data : ", data.consumer_data);
        console.log("Rider Data : ", data.rider_data);

        place_order_details = data.queryset;
        consumer_data_details = data.consumer_data;
        rider_data_details = data.rider_data;


        let rider_data_name =
            `
        <th scope="col"  class="text-center">Rider Name</th>
        <td scope="col" colspan="2" class="text-center" style="background-color: white; color:black;">${rider_data_details[0].name}</td>  
        `
        let riderdataname = $("#rider-data-name");
        riderdataname.append(rider_data_name);

        let rider_data_phone =
            `
        <th scope="col" class="text-center">Rider Phone</th>
        <td scope="col" colspan="2" class="text-center" style="background-color: white; color:black;">
        ${rider_data_details[0].phone_number}</td>
        `


        let riderdataphone = $("#rider-data-phone");
        riderdataphone.append(rider_data_phone)

        place_order_details.forEach((items, index) => {
            let row =
            `
            <tr>
                <td scope="col" class="text-center">${index + 1}</td>
                <td scope="col" class="text-center">${items.item_name}</td>
                <td scope="col" class="text-center">${items.item_price}</td>
            </tr>
            `
            $("#table-body").append(row);
            
        });
        let row =
        `
        <tr>
            <th scope="col" class="text-center" colspan=2>Total Amount</th>
            <th scope="col" class="text-center">${place_order_details[0].total_amount}</th>
            </tr>
            `
        $("#table-body").append(row);
    }
    function populate_dashboard_error(data) {
        console.log(data);
    }
</script>