{% include 'restaurant/layouts/navbar.html' %}
<div class="btn-group text-right" id="toggle_event_editing">
    <button type="button" class="btn btn-info locked_active" id="btn-turn-off">OFF</button>
    <button type="button" class="btn btn-default unlocked_inactive" id="btn-turn-on">ON</button>
</div>

<section class="container">
    
    <div class="row">
        <div class="col">
            <div class="card shadow m-2 p-5" style="font-size:40px">
                <a href="{% url 'restaurant-add-food' %}" class="text-center">+</a>

                <div style="font-size:20px" class="text-center">
                    Add Product
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card shadow m-2 p-5 text-center" style="font-size:40px">
                67
                <div style="font-size:20px">
                    Orders Completed
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow m-2 p-5 text-center" style="font-size:40px">
                1500000 Rs.
                <div style="font-size:20px">
                    Wallet
                </div>
            </div>
        </div>


    </div>
    <div class="container card shadow-lg pt-3">
        <table class="table">
            <thead style="background-color: #e42e0c; color:white">
              <tr>
                <th scope="col">RiderName</th>
                <th scope="col">Food Item</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Time</th>
              </tr>
            </thead>
            <tbody id="table-body">
             
            </tbody>
          </table>
          
         
    </div>
        <div class="col">
            <div class="card m-2 p-5 shadow" style="height:600px">
                <h2>Restaurant Location</h2>
                <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&amp;q=Eiffel+Tower+Paris+France" width="250" height="500" frameborder="0" style="border:0; width: 100%;" allowfullscreen=""></iframe>
            </div>
        </div>
    </div>
</section>
 
{% include 'footer.html' %}

<script>
    var jsonData; 
    var ws = new WebSocket("ws://127.0.0.1:8000/ws/sc/place_order/");
    ws.onopen = function(event){
        console.log("Connected...", event); 
    };
    ws.onmessage = function(event){
        jsonData = JSON.parse(event.data); 
        console.log(jsonData);  
        if (jsonData.message === "OrderAccepted"){
            // AJAX to get the credentials 
            var mydata = {
                
            }
            $.ajax({
                type:"POST", 
                url:"", 
                success:function(data){
                    console.log(data); 
                }, 
                error:function(data){
                    console.log(data); 
                }
            }); 
            let row = 
            `
            <tr>
            <td>${jsonData.rider}</td>
            <td></td>
            <td></td>
            <td></td>
            </tr>
            `
            $("#table-body").append(row); 

        }
    };
    ws.onerror = function(event){
        console.log("Disconnected...", event);
    };
</script>