{% include 'restaurant/layouts/navbar.html' %}



    <form action="" method="POST" class="mx-auto card shadow container m-5 p-5" id="partner-form" enctype="multipart/form-data" onsubmit="return validateAndSubmitForm()">
        {% csrf_token %}
        <h2 class="form-group container font-weight-bold">Register to become Partner</h2>
        <div class="form-group container">
            <label for="RestaurantName">Restaurant Name</label>
            <input type="text" name="restaurant_name" class="form-control" placeholder="Enter Your Restaurant Name" required>
        </div>
        <div class="form-group container">
            <label for="RestaurantSlogan">Restaurant Slogan</label>
            <input type="text" name="restaurant_slogan" class="form-control" placeholder="Enter Your Restaurant Slogan" required>
        </div>
        <div class="form-group container">
            <label for="RestaurantLocation">Restaurant Location</label>
            <input type="text" name="restaurant_location" class="form-control" placeholder="Enter Your Restaurant Location" required>
        </div>
        <div class="form-group container">
            <label for="RestaurantDescription">Restaurant Description</label>
            <textarea name="restaurant_description" class="form-control" placeholder="Enter Your Restaurant Description" required></textarea>
        </div>
        <div class="form-group container">
            <label for="phone_number">Phone Number</label>
            <input type="number" name="phone_number" class="form-control" maxlength="11" placeholder="Enter Phone Number" required>
        </div>
        <div class="form-group container">
            <label for="RestaurantImage">Upload Image</label>
            <input type="file" name="restaurant_image" class="form-control" required>
        </div>
        <div class="form-group container">
            <input type="checkbox" required>
            <label for="TermsAndConditions" class="form-check-label">Terms & Conditions</label>
        </div>
        
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Submit">
            <input type="reset" class="btn btn-secondary" value="Reset">
        </div>
    </form>


{% include 'footer.html' %}
{% load static %}
<script src="{% static 'restaurant/js/index.js' %}"></script>