<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'google_login/style.css' %}">
  <style>
    #banner-section {

      background-image: url("{% static 'images/about-bg.png' %}");
      background-repeat: no-repeat;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
  </style>
</head>

<body>
  <section class="container card shadow-lg mt-5 mb-5">
    <div class="row">
      <div class="col-sm">
        
        <form action="" method="post" class="container" id="section-form">
          {% csrf_token %}
          <h2 class="text-center m-5">Login Page</h2>
          {% if messages %}
        {% for message in messages %}
        <div class="alert alert-danger">
          {{message}}
        </div>
          
        {% endfor %}
          
        {% endif %}
          <div class="form-group">
            <label for="Username">Username</label>
            <input type="username" class="form-control is-valid" name="username">
            <div class="valid-feedback">Look's Good</div>
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input type="password" class="form-control is-invalid" name="password">
            <div class="invalid-feedback">doesn't look good</div>
          </div>
          <input type="submit" id="submit-btn" value="Login">
        </form>
        <div class="container" id="already-have-account-group" style="margin-top: 20px;">
          <p id="already-have-account" style="float:left;">Already have account?</p>
          <a href="{% url 'signup' %}" id="signup-btn" style="margin-left: 10px;">Sign Up</a>

        </div>
        <div class="divider d-flex align-items-center my-4">
          <p class="text-center fw-bold mx-3 mb-0">Or</p>
        
          
        </div>  
        {% load socialaccount %}
        <button data-mdb-button-init data-mdb-ripple-init class="btn btn-lg btn-block btn-primary mb-5"
          style="background-color: #dd4b39;" type="submit"><i class="fab fa-google me-2"> <a href="{% provider_login_url 'google' %}?next=/" style="color:white; font-family:Arial, Helvetica, sans-serif;">Login With Google</a>
          </i>   
        </button>

      </div>
      <div class="col-sm" id="banner-section">
        <div id="banner-content">
          
          <h4 class="text-center mt-5 font-weight-bolder">Food Voyage</h4>
          <h5 class="text-center">Embark a Delicious Journey</h5>
          <p class="container text-justify">At Food Voyage, customers can order their favorite dishes from various
            restaurants, pay via JazzCash or cash on delivery, and track their orders in real-time. Riders receive
            delivery notifications and connect with restaurants easily. Restaurants expand their reach and manage orders
            efficiently, while admins oversee operations and handle feedback to ensure top-notch service. Join Food
            Voyage today!</p>
            <img src="http://example.com/accounts/logout/">
        </div>



      </div>
    </div>


  </section>
  <script src="{% static 'google_login/index.js' %}"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>