<!-- ordernow.html -->
{% include 'navbar.html' %}

<!-- Services Section -->
{% load static %}
<div class="blog_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="blog_taital">Cafes & Restaurants</h1>
                <p class="blog_text">Order Now from your favourite cafe's and restaurants.</p>
            </div>
        </div>
        <div class="container-order-now mt-5" id="posts-container">
            <!-- Initial products will be loaded here -->
            {% for items in queryset %}
            <div class="product-card-order-now">
                <img src="/media/{{items.item_image}}" alt="Error Loading Image" class="product-image-order-now">
                <h3 class="product-title-order-now">{{items.item_name}}</h3>
                <p class="product-price-order-now">Rs.{{items.item_price}}</p>
                <button class="add-to-cart-button-order-now">Add to Cart</button>
            </div>
            {% endfor %}
        </div>
        <div class="seemore_bt" id="load-more"><a href="#">See More</a></div>
    </div>
</div>

{% include 'footer.html' %}

<script src="{% static 'js/ordernow.js' %}"></script>
