{% include 'rider/layouts/navbar.html' %}

<div class="btn-group text-right" id="toggle_event_editing">
    <button type="button" class="btn btn-info locked_active" id="btn-turn-off">OFF</button>
    <button type="button" class="btn btn-default unlocked_inactive" id="btn-turn-on">ON</button>
</div>

<section class="container" id="rider-dashboard">
    <div class="row">
        <div class="col">
            <div class="card shadow m-2 p-5 text-center" style="font-size:40px">
                67
                <div style="font-size:20px">
                    Orders Completed
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow m-2 p-5 text-center" style="font-size:40px">
                1500000 Rs.
                <div style="font-size:20px">
                    Wallet
                </div>
            </div>
        </div>


    </div>

    <div class="container">
        <table class="table">
            <thead style="background-color: #e42e0c; color:white">
                <tr>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Location</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody id="table-body">

            </tbody>
        </table>
        


    </div>
</section>

{{ queryset|json_script:"current-rider-name" }}
{% include 'footer.html' %}


<script>
    // Getting DOM id's 
    var tableBody = $("#table-body");

    // Variables 
    var customer_id;
    var customer_name;
    var customer_location;
    var message;
    var rider;
    var time_stamp;
    var customer_PhoneNumber;
    var newdata = {};
    var array = []
    var upload_consumer_data; 
    var current_rider_name = JSON.parse($("#current-rider-name").html()); 
    // WebSocket Connection 
    var ws = new WebSocket("ws://127.0.0.1:8000/ws/sc/place_order/");
    var data;
    $(document).ready(function () {

        ws.onopen = function (event) {
            console.log("Connected...", event);
        }

        ws.onmessage = function (event) {
            console.log("Message Received", event);
            data = JSON.parse(event.data);
            console.log(data); 
            get_data(data);
        }

        ws.onclose = function (event) {
            console.log("Disconnected...", event);
        }

        ws.onerror = function (event) {
            console.error("WebSocket Error:", event);
        }
        get_data();
        $(this).on("click", "#btn-accept", function () {
            let itemId = $(this).data('id');
            for (let i = 0; i < array.length; i++) {
                let items = array[i];
                if (itemId === items.customer_id) {
                    jsonData = {
                        "customer_name": items.customer_name,
                        "message": "OrderAccepted",
                        "time_stamp": items.time_stamp,
                        "customer_id": items.customer_id,
                        "customer_location": items.customer_location,
                        "rider": current_rider_name,
                    };
                    
                    send_data_to_consumerModel(jsonData);
                    console.log(jsonData);
                    ws.send(JSON.stringify(jsonData));
                    break; // Exits the loop immediately
                }
            }
        });
        
        $(this).on("click", "#btn-decline", function () {
            let itemId = $(this).data("id");
            $(this).closest('tr').remove();

        });

    });

    function send_data_to_consumerModel(upload_consumer_data){
        $.ajax({
            url:"/partner-with-us/rider/upload-consumer-data/", 
            type:"POST", 
            data:upload_consumer_data, 
            success: data_upload_successful, 
            error: data_upload_error
        }); 
    }

    function data_upload_successful(data){
        console.log(data); 
    }

    function data_upload_error(data){
        console.log(data); 
    }

    function get_data(data) {
        if ($.isEmptyObject(data)) {
            get_placed_order();

        }
        else {
            customer_id = data.customer_id;
            customer_location = data.customer_location;
            customer_name = data.customer_name;
            time_stamp = data.time_stamp;
            rider = data.rider;
            message = data.message;
            populate_table();

        }
    }


    function datafetched(response) {
        let dictionary = JSON.parse(response);
        let consumer_data = dictionary.consumer_data;
        let users_cart = dictionary.users_cart;


        consumer_data.forEach(items => {
            users_cart.forEach(inner_items => {

                if (items.customer_name_id === inner_items.id) {
                    let c_name = inner_items.username;
                    let c_phone = inner_items.phone_number;
                    let c_location = items.customer_location;
                    let c_time_stamp = items.time_stamp;
                    let c_rider = items.rider;
                    let c_message = items.message;
                    let c_id = inner_items.id;
                    newdata = {
                        "customer_id": c_id,
                        "customer_name": c_name,
                        "customer_location": c_location,
                        "customer_phone": c_phone,
                        "time_stamp": c_time_stamp,
                        "rider": c_rider,
                        "message": c_message
                    }
                    array.push(newdata);
                }

            });
        });

        array.forEach(items => {
            let row =
                `
            <tr>
                <td>${items.customer_name}</td>
                <td>${items.customer_location}</td>
                <td>${items.customer_phone}</td>
                <td>
                    <button class="btn btn-success" id="btn-accept" data-id="${items.customer_id}"><a href="{% url 'deliver-order-to-customer' %}" style="color:white;">Accept</a></button>
                    <button class="btn btn-danger" id="btn-decline" data-id="${items.customer_id}">Decline</button>
                </td>
            </tr>
            `
            tableBody.append(row);
        });

    }
    function datafailed(data) {
        console.log("Data failed to fetch");
    }
    function get_placed_order() {
        $.ajax({
            url: "/partner-with-us/rider/get-orders-from-database/",
            type: "GET",
            success: datafetched,
            error: datafailed,

        });
    }

    function populate_table() {

        mydata = {
            customer_name: customer_name
        }
        get_customer_phoneNumber(mydata)


    }


    // Getting Customer Phone Number 
    function getting_customer_PhoneNumberSuccessfully(data) {
        customer_PhoneNumber = data;
        console.log("Customer Phone Number : ", customer_PhoneNumber);
        let row =
            `
        <tr>
            <td>${customer_name}</td>
            <td>${customer_location}</td>
            <td>${customer_PhoneNumber}</td>
            <td>
                <button class="btn btn-success" id="btn-accept" data-id="${customer_id}"><a href="{% url 'deliver-order-to-customer' %}" style="color:white;">Accept</a></button>
                <button class="btn btn-danger" id="btn-decline" data-id="${customer_id}">Decline</button>
            </td>
        </tr>
        `
        tableBody.append(row);
    }
    function getting_customer_phoneNumberFailed(event) {
        console.log("Error");
        console.log(event);
        console.log("Error Getting Customer Phone Number : ", event);
    }
    function get_customer_phoneNumber(mydata) {

        $.ajax({
            url: "/partner-with-us/rider/get-customer-phoneNumber/",
            type: "POST",
            data: mydata,
            success: getting_customer_PhoneNumberSuccessfully,
            error: getting_customer_phoneNumberFailed,
        });
    }
</script>


<!-- {% url 'deliver-order-to-customer' %} -->