{% include 'rider/layouts/navbar.html' %}

        <div class="btn-group text-right" id="toggle_event_editing">
            <button type="button" class="btn btn-info locked_active" id="btn-turn-off">OFF</button>
            <button type="button" class="btn btn-default unlocked_inactive" id="btn-turn-on">ON</button>
        </div>
   
<section class="container" id="rider-dashboard">
    <div class="row">
        <div class="col">
            <div class="card shadow m-2 p-5 text-center" style="font-size:40px">
                67
                <div style="font-size:20px">
                    Orders Completed
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card shadow m-2 p-5 text-center" style="font-size:40px">
                1500000 Rs.
                <div style="font-size:20px">
                    Wallet
                </div>
            </div>
        </div>


    </div>

    <div class="container">
        <table class="table">
            <thead style="background-color: #e42e0c; color:white">
              <tr>
                <th scope="col">Customer Name</th>
                <th scope="col">Location</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="table-body">
             
            </tbody>
          </table>
          
         
    </div>
</section>

{% include 'footer.html' %}


<script>
    // Ajax Function to get rider name 
    var rider_name; 
    $.ajax({
        url: "/partner-with-us/rider/get-rider-name/", 
        type:"GET", 
        success:function(data){
            rider_name = data.name; 
        }, 
        error:function(data){
            console.log(data); 
        }
        
    }); 
    var ws = new WebSocket("ws://127.0.0.1:8000/ws/sc/place_order/");  
    var data; 
    ws.onopen = function(event){
        console.log('Connected to the server.',event);
        
        
    }
    ws.onmessage = function(event){
        data = JSON.parse(event.data); 
        let row = 
        `
        <tr> 
            <td>${data.customer_name}</td>
            <td>${data.customer_location}</td>
            <td>${data.time_stamp}</td>
            <td>
                <button class="btn btn-success" id="btn-accept" data-id="${data.customer_id}"><a href="{% url 'deliver-order-to-customer' %}">Accept</a></button>
                <button class="btn btn-danger" id="btn-decline" data-id="${data.customer_id}">Decline</button>
            </td>

        </tr>
        `
        $("#table-body").append(row); 
        console.log(data);  
        console.log(data.customer_name); 
        
    }
    ws.onclose = function(event){
        console.log("Disconnedted...",event); 
    }
    // Decline The Order Button 
    $(document).on("click", "#btn-decline", function(){
        $(this).parent().parent().hide(); 
    }); 

    // Accepting The Order 
    $(document).on("click", "#btn-accept", function(){
        jsonData = {
        "customer_name":data.customer_name, 
        "message":"PlaceOrder", 
        "time_stamp": data.current_datetime, 
        "customer_id":data.users_cart_id, 
        "customer_location":data.customer_location, 
        "rider":rider_name
        };
        mydata = {
            "customer_id":data.users_cart_id, 
            "customer_name":data.customer_name, 
            "order_status":"True"
        }
        $.ajax({
            url:"/partner-with-us/rider/order-details/", 
            type:"POST",
            data: mydata, 
            success:function(event){
                console.log(event); 
            }, 
            error:function(event){
                console.log(event); 
            }

        })
        ws.send(JSON.stringify(jsonData)); 
    }); 

</script>
