{% include 'navbar.html' %}

<section class="container">

{{queryset|json_script:"queryset"}}
    <div class="card shadow-lg">
        <div class="container">
            <div class="row">
                <div class="col-sm p-5 text-center text-white font-weight-bold" style="background-color:#e42e0c;">
                    <h1 class="text-white font-weight-bold">Customer Name</h1>
                </div>
                <div class="col-sm p-5 text-center">
                    <h1 class="" id="customer-name">Muhammad Faseeh</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm p-5 text-center">
                    <h2 class="font-weight-bold">Customer Address</h2>
                </div>
                <div class="col-sm p-5 text-center text-white font-weight-bold" style="background-color:#e42e0c;">
                    <h2 class="text-white" id="customer-location">Mohallah Raitan Wala Street # 1 Model Town, Gujranwala.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm p-5 text-center" style="background-color:#e42e0c;">
                    <h2 class="font-weight-bold text-center text-white">Customer Phone</h2>
                </div>
                <div class="col-sm p-5 text-center text-white font-weight-bold">
                    <h2 id="customer-phone">03008748760</h2>
                </div>
            </div>

            <hr style="border: 4px solid #e42e0c; " class="mt-4">
            <div class="row">
                <div class="col-sm" style="background-color: #e42e0c; color:white">
                    <h3 class="text-center text-white font-weight-bold">Restaurant Name</h2>
                </div>
                <div class="col-sm">
                    <h3 class="text-center" id="restaurant-name">Rehans Kitchen</h2>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-sm" style="background-color: #e42e0c; color:white">
                    <h3 class="text-center text-white font-weight-bold">Restaurant Location</h2>
                </div>
                <div class="col-sm">
                    <h3 class="text-center" id="restaurant-location">Model Town Gujranwala</h2>
                </div>
            </div>
            <!-- Order Details -->
            <section class="container">
                <div id="restaurant-credentials">
                    
                </div>

                <table class="table mt-2">
                    <thead style="background-color: #e42e0c; color:white">
                        <tr>
                            <th scope="col" class="">Counter</th>
                            <th scope="col" class="">Item Name</th>
                            <th scope="col" class="text-center">Item Price</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <tr>
                            <td class="">1</td>
                            <td class="">Grill Burger</td>
                            <td class="text-center">550</td>
                            </tr>
                        <tr>
                            <td colspan="2" style="background-color: #e42e0c;">
                                <h3 class="text-center font-weight-bold text-white">
                                    TOTAL
                                </h3>
                            </td>
                
                            <td class="text-center font-weight-bold">
                                <h3 class="text-center font-weight-bold">
                                    ${grand_total}
                                </h3>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>


        </div>
        
            <button class="btn btn-primary m-5" id="order-delivered" style="background-color:#e42e0c;"><a href="{% url 'rider-dashboard' %}" style=" color:white;">CONFIRMED</a></button>
        
    </div>

</section>

{% include 'footer.html' %}


<script>
  $(document).ready(function(){
    queryset = $("#queryset").html(); 
    console.log(JSON.parse(queryset)); 
  }); 
    
</script>