{% include 'navbar.html' %}

<section class="container">

    <div class="card shadow-lg">
        <div class="container">
            <!-- Customer Details -->
            <div class="row">
                <div class="col-sm p-5 text-center text-white font-weight-bold" style="background-color:#e42e0c;">
                    <h1 class="text-white font-weight-bold">Customer Name</h1>
                </div>
                <div class="col-sm p-5 text-center">
                    <h1 class="">Muhammad Faseeh Raza Khokhar</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm p-5 text-center">
                    <h2 class="font-weight-bold">Customer Address</h2>
                </div>
                <div class="col-sm p-5 text-center text-white font-weight-bold" style="background-color:#e42e0c;">
                    <h2 class="text-white" id="customer-location">Raitan Wala Mohallah Street # 1, Model Town
                        Gujranwala.</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm p-5 text-center" style="background-color:#e42e0c;">
                    <h2 class="font-weight-bold text-center text-white">Customer Phone</h2>
                </div>
                <div class="col-sm p-5 text-center text-white font-weight-bold">
                    <h2 id="customer-phone">03008475747</h2>
                </div>
            </div>

            <hr style="border: 4px solid #e42e0c; " class="mt-4">
            <!-- Order Details -->
            <section class="container">
                <div class="row">
                    <div class="col-sm" style="background-color: #e42e0c; color:white">
                        <h3 class="text-center text-white font-weight-bold">Restaurant Name</h2>
                    </div>
                    <div class="col-sm">
                        <h3 class="text-center" id="restaurant-name">Rehans Kitchen</h2>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-sm" style="background-color: #e42e0c; color:white">
                        <h3 class="text-center text-white font-weight-bold">Restaurant Location</h2>
                    </div>
                    <div class="col-sm">
                        <h3 class="text-center" id="restaurant-location">Model Town Gujranwala.</h2>
                    </div>
                </div>

                <table class="table mt-2">
                    <thead style="background-color: #e42e0c; color:white">
                        <tr>
                            <th scope="col" class="text-center">Counter</th>
                            <th scope="col" class="text-center">Item Qty</th>
                            <th scope="col" class="text-center">Item Price</th>
                            <th scope="col" class="text-center">Item Price</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                        <tr>
                            <td class="text-center">1</td>
                            <td class="text-center">Biryani</td>
                            <td class="text-center">2</td>
                            <td class="text-center">540</td>
                        </tr>
                        <tr>
                            <td class="text-center">2</td>
                            <td class="text-center">Biryani</td>
                            <td class="text-center">2</td>
                            <td class="text-center">540</td>
                        </tr>

                        <tr>
                            <td class="text-center">3</td>
                            <td class="text-center">Biryani</td>
                            <td class="text-center">2</td>
                            <td class="text-center">540</td>
                        </tr>

                        <tr>
                            <td class="text-center">4</td>
                            <td class="text-center">Biryani</td>
                            <td class="text-center">2</td>
                            <td class="text-center">540</td>
                        </tr>

                        <tr>
                            <td colspan="3" style="background-color: #e42e0c;">
                                <h3 class="text-center font-weight-bold text-white">
                                    TOTAL
                                </h3>
                            </td>

                            <td class="text-center font-weight-bold">
                                <h3 class="text-center font-weight-bold">
                                    12300 Rs.
                                </h3>
                            </td>
                        </tr>

                    </tbody>
                </table>
            </section>


        </div>
    </div>

</section>

{% include 'footer.html' %}


<script>
    $(document).ready(function(){
        console.log("Everything working properly"); 
        get_data(); 
    }); 
    function get_data(){
        $.ajax({
        url:"/partner-with-us/rider/get-placed-order-details/",
        type:"GET",
        success:get_order_details, 
        error:get_order_failed,

    }); 
    }
    function get_order_failed(datafromserver){
        console.log(datafromserver);
    }
    function get_order_details(datafromserver){
        let parsed_data = JSON.parse(data);  
        console.log(parsed_data);
    }
</script>