{% include 'rider/layouts/navbar.html' %}



<form method="POST" class="mx-auto card shadow container m-5 p-5" id="partner-form"
    enctype="multipart/form-data">
    {% csrf_token %}
    <h2 class="form-group container font-weight-bold">Register to become our Rider</h2>
    <div class="form-group container">
        <label for="StartTime" class="font-weight-bold">Start Time</label>
        <input type="time" name="start_time" class="form-control" placeholder="Enter Starting Time" required>
        <label for="EndTime" class="font-weight-bold">End Time</label>
        <input type="time" name="end_time" class="form-control" placeholder="Enter Ending Time" required>
    </div>
    <div class="form-group container">
        <label for="City" class="font-weight-bold">Enter City</label>
        <input type="text" name="city" class="form-control" placeholder="Enter your City" required>
    </div>
    <div class="form-group container">
        <label for="RiderBio" class="font-weight-bold">Rider's Bio</label>
        <textarea name="rider_bio" class="form-control" placeholder="Enter Your Rider's Bio" required></textarea>
    </div>
    <div class="form-group container">
        <label for="phone_number" class="font-weight-bold">Phone Number</label>
        <input type="number" name="phone_number" class="form-control" maxlength="11" placeholder="Enter Phone Number"
            required>
    </div>
    <div class="form-group container">
        <label for="Profile Image" class="font-weight-bold">Profile Image</label>
        <input class="form-control" type="file" name="profile_image" required>
    </div>
    <div class="form-group container">
        <input type="checkbox" required>
        <label for="TermsAndConditions" class="form-check-label form-weight-bold">Terms & Conditions</label>
    </div>
    <div class="form-group container">
        <label for="VehicleType" class="font-weight-bold">Vehicle Type</label>
        <div class="form-check container">
            <input class="form-check-input" type="radio" name="vehicle_type">
            <label for="MotorCycle">Motor Cycle</label>
        </div>
        <div class="form-check container">
            <input class="form-check-input" type="radio" name="vehicle_type">
            <label for="MotorCar">Motor Car</label>
    
        </div>
    </div>

    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Submit">
        <input type="reset" class="btn btn-secondary" value="Reset">
    </div>
</form>


{% include 'footer.html' %}