<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Your order has been placed. </h1>
    {% if request.GET.pp_ResponseMessage and request.GET.pp_ResponseCode and request.GET.pp_RetreivalReferenceNo %}
    <p>Response Message: {{ request.GET.pp_ResponseMessage }}</p>
    <p>Response Code: {{ request.GET.pp_ResponseCode }}</p>
    <p>RRN: {{ request.GET.pp_RetreivalReferenceNo }}</p>
    {% else %}
    <p>No response data found.</p>
    {% endif %}
</body>

</html>